doctype html
html(lang='en') 
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title D3 Samples
    style
      include ../styles/main.css
    link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&amp;display=swap" rel="stylesheet")
  body
    - const locals = htmlWebpackPlugin.options.locals
    block content