doctype html
html(lang='en') 
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Quantum Fields
    style
      include ./style.css
    //- link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&amp;display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet")
  body
    - const locals = htmlWebpackPlugin.options.locals
    block content
    //- script(src="//d3js.org/d3.v3.min.js" charset="utf-8")